@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1792px); /* (192px + 32px) * num_logos = 1120px */
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.nav-glow {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
  
.nav-glow:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
}