@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-glow {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
  
.nav-glow:hover {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
}